.shopContainer {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding: 80px;
}
.orderSummary {
  border-radius: 8px;
  padding: 25px;
  background-color: #ff99004d;
  font-size: 20px;
  line-height: 30px;
}
.clearCartBtn {
  width: 100%;
  background-color: red;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.reviewOrderBtn {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.reviewOrderBtn a {
  list-style: none;
}
.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 62%;
  margin: 0 auto;
  padding: 40px 0;
}
.pagination button {
  padding: 20px;
  margin-right: 10px;
}
.selected {
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
}
