.productsContainer {
  padding: 30px;
}
.productCard {
  padding: 10px;
  border-radius: 20px;
  height: 680px;
  border: 2px solid gray;
}
.productImg {
  width: 100%;
}
.productImg img {
  border-radius: 20px;
  width: 100%;
}
.productCardFooter {
  /* padding: 12px 0; */
  text-align: center;
}
button {
  background-color: #ffe0b3;
  padding: 0;
  border: none;
}
